In [24]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ev=pd.read_csv('data/IEA Global EV Data 2024.csv')
ev

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00

In [6]:
ev['year']=pd.to_datetime(ev['year'], format='%Y')

In [20]:
# Information about the data frame
print("\nData Frame Info:")
print(ev.info())

Data Frame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  datetime64[ns]
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 791.0+ KB
None

In [7]:
print(ev.describe(include='all'))

       region    category parameter   mode powertrain  \
count   12654       12654     12654  12654      12654
unique     54           3         8      5          6
top     World  Historical  EV stock   Cars         EV
freq     1250        9174      3470   4706       4894
mean      NaN         NaN       NaN    NaN        NaN
min       NaN         NaN       NaN    NaN        NaN
25%       NaN         NaN       NaN    NaN        NaN
50%       NaN         NaN       NaN    NaN        NaN
75%       NaN         NaN       NaN    NaN        NaN
max       NaN         NaN       NaN    NaN        NaN
std       NaN         NaN       NaN    NaN        NaN

                                 year      unit         value
count                           12654     12654  1.265400e+04
unique                            NaN         6           NaN
top                               NaN  Vehicles           NaN
freq                              NaN      6842           NaN
mean    2019-10-28 10:04:16.045518848       NaN  4.273742e+05
min               2010-01-01 00:00:00       NaN  1.200000e-06
25%               2016-01-01 00:00:00       NaN  2.000000e+00
50%               2020-01-01 00:00:00       NaN  1.300000e+02
75%               2022-01-01 00:00:00       NaN  5.500000e+03
max               2035-01-01 00:00:00       NaN  4.400000e+08
std                               NaN       NaN  6.860498e+06

In [9]:
# Check for missing values
print(ev.isnull().sum())

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [22]:
# Unique values in each column
print("\nUnique Values:")
for column in ev.columns:
    print(f"{column}: {ev[column].nunique()} unique values")

Unique Values:
region: 54 unique values
category: 3 unique values
parameter: 8 unique values
mode: 5 unique values
powertrain: 6 unique values
year: 17 unique values
unit: 6 unique values
value: 1032 unique values

In [23]:
# Value counts for categorical columns
print("\nValue Counts for Categorical Columns:")
categorical_columns = ev.select_dtypes(include=['object']).columns
for column in categorical_columns:
    print(f"\n{column} value counts:")
    print(ev[column].value_counts())

Value Counts for Categorical Columns:

region value counts:
region
World                   1250
Europe                  1234
China                   1138
Rest of the world        954
USA                      737
India                    702
EU27                     424
Netherlands              358
France                   358
United Kingdom           345
Denmark                  319
Belgium                  310
Germany                  298
Norway                   270
Sweden                   269
Japan                    260
Switzerland              245
Spain                    245
Canada                   240
Italy                    230
Korea                    209
Finland                  200
Poland                   194
Portugal                 189
New Zealand              185
Brazil                   183
Israel                   148
Austria                  116
Iceland                  115
Chile                    103
Australia                 94
Mexico                    87
Greece                    83
South Africa              83
Turkiye                   83
Latvia                    27
Hungary                   27
Ireland                   27
Colombia                  27
Costa Rica                27
Bulgaria                  25
Estonia                   25
Czech Republic            24
Slovenia                  24
Slovakia                  23
Romania                   19
Lithuania                 19
Seychelles                18
United Arab Emirates      18
Luxembourg                15
Croatia                   15
Thailand                  14
Cyprus                    14
Indonesia                  8
Name: count, dtype: int64

category value counts:
category
Historical          9174
Projection-APS      1742
Projection-STEPS    1738
Name: count, dtype: int64

parameter value counts:
parameter
EV stock                         3470
EV sales                         3372
EV sales share                   1642
EV stock share                   1529
EV charging points                918
Oil displacement Mbd              586
Oil displacement, million lge     586
Electricity demand                551
Name: count, dtype: int64

mode value counts:
mode
Cars      4706
Buses     2696
Vans      2568
Trucks    1766
EV         918
Name: count, dtype: int64

powertrain value counts:
powertrain
EV                         4894
BEV                        3204
PHEV                       2126
FCEV                       1512
Publicly available slow     463
Publicly available fast     455
Name: count, dtype: int64

unit value counts:
unit
Vehicles                         6842
percent                          3171
charging points                   918
Milion barrels per day            586
Oil displacement, million lge     586
GWh                               551
Name: count, dtype: int64

In [33]:
xls = pd.ExcelFile('data/Hydrogen_production_projects_corrected.xlsx')
df1 = pd.read_excel(xls, 'Projects',skiprows=[0,1,2,4,5,6,7,8,9,10])
df1['Date online']=pd.to_datetime(df1['Date online'], format='%Y')
df1['Decomission date']=pd.to_datetime(df1['Decomission date'], format='%Y')

In [34]:
mobility=df1.loc[df1['EndUse_Mobility'].notnull()]

In [35]:
mobility

,Ref,Project name,Country,Date online,Decomission date,Status,Technology,Technology_details,Technology_electricity,Technology_electricity_details,...,EndUse_CH4 grid inj.,EndUse_CH4 mobility,Announced Size,Capacity_MWel,Capacity_NmÂ³ Hâ‚‚/h,Capacity_kt H2/y,Capacity_t COâ‚‚ captured/y,IEA zero-carbon estimated normalized capacity\n[NmÂ³ Hâ‚‚/hour],References,LOWE_CF
1,3,H2GO Energy Park Oude-Tonge - 1st phase,NLD,2023-01-01,NaT,FID/Construction,Other Electrolysis,Unknown PtX,Dedicated renewable,Others/Various,...,NaN,NaN,2.5MW,2.500000,555.555556,0.433133,NaN,555.555556,[503][630][609],0.50
2,4,H2GO Energy Park Oude-Tonge - 2nd phase,NLD,2030-01-01,NaT,Concept,Other Electrolysis,Unknown PtX,Dedicated renewable,Others/Various,...,NaN,NaN,26MW,23.500000,5222.222222,4.071453,NaN,5222.222222,[503][630][609],0.50
9,11,Green Hysland Mallorca - Phase 1,ESP,2022-01-01,NaT,Operational,PEM,NaN,Dedicated renewable,Solar PV,...,NaN,NaN,2.5 MW,2.500000,480.769231,0.374827,NaN,480.769231,[317] [319] [594] [682] [691] [692][1239],0.30
10,12,Power to Green H2 Mallorca (GREEN HYSLAND) - P...,ESP,2025-01-01,NaT,FID/Construction,Other Electrolysis,Unknown PtX,Dedicated renewable,Solar PV,...,NaN,NaN,10,7.500000,1666.666667,1.299400,NaN,1666.666667,[317] [319] [612] [682] [691],0.30
13,16,Fukushima Hydrogen Energy Research Field,JPN,2020-01-01,2023-01-01,Operational,ALK,NaN,Dedicated renewable,Solar PV,...,NaN,NaN,10 MW,10.000000,2173.913043,1.694870,NaN,2173.913043,[58] [135] [326] [327] [328],0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,2522,Ratcliffe power station - H2 project - phase 1,GBR,2026-01-01,NaT,Concept,Other Electrolysis,Unknown PtX,Dedicated renewable,Unknown,...,NaN,NaN,100MW,100.000000,22222.222222,17.325333,NaN,22222.222222,[2129],0.50
1960,2523,Ratcliffe power station - H2 project - phase 2,GBR,2030-01-01,NaT,Concept,Other Electrolysis,Unknown PtX,Dedicated renewable,Unknown,...,NaN,NaN,500MW,400.000000,88888.888889,69.301333,NaN,88888.888889,[2129],0.50
1971,2534,Skipavika Green Ammonia - SkiGA,NOR,2026-01-01,NaT,Feasibility study,Other Electrolysis,Unknown PtX,Grid+Renewables,Others/Various,...,NaN,NaN,130MW,130.000000,28888.888889,22.522933,NaN,28888.888889,Platts European Gas Daily 29-08-2023,0.70
1981,2544,H2 plant - St Lawrence Hydro Production,USA,2027-01-01,NaT,Concept,Other Electrolysis,Unknown PtX,Dedicated renewable,Hydropower,...,NaN,NaN,35t H2/day production,92.169944,20482.209738,15.968750,NaN,20482.209738,[2148],0.80
1986,2549,EWE hydrogen plant North Sea coast,DEU,2026-01-01,NaT,Concept,Other Electrolysis,Unknown PtX,Other/Unknown,Unknown,...,NaN,NaN,320MW,320.000000,71111.111111,55.441067,NaN,71111.111111,[2153],0.57

In [36]:
print("\nData Frame Info:")
print(mobility.info())

Data Frame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 575 entries, 1 to 1986
Data columns (total 33 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Ref                                                          575 non-null    int64
 1   Project name                                                 575 non-null    object
 2   Country                                                      575 non-null    object
 3   Date online                                                  484 non-null    datetime64[ns]
 4   Decomission date                                             24 non-null     datetime64[ns]
 5   Status                                                       574 non-null    object
 6   Technology                                                   575 non-null    object
 7   Technology_details                                           332 non-null    object
 8   Technology_electricity                                       543 non-null    object
 9   Technology_electricity_details                               329 non-null    object
 10  Product                                                      574 non-null    object
 11  EndUse_Refining                                              26 non-null     float64
 12  EndUse_Ammonia                                               29 non-null     float64
 13  EndUse_Methanol                                              12 non-null     float64
 14  EndUse_Iron&Steel                                            13 non-null     float64
 15  EndUse_Other Ind                                             148 non-null    float64
 16  EndUse_Mobility                                              575 non-null    float64
 17  EndUse_Power                                                 91 non-null     float64
 18  EndUse_Grid inj.                                             66 non-null     float64
 19  EndUse_CHP                                                   17 non-null     float64
 20  EndUse_Domestic heat                                         15 non-null     float64
 21  EndUse_Biofuels                                              3 non-null      float64
 22  EndUse_Synfuels                                              19 non-null     float64
 23  EndUse_CH4 grid inj.                                         2 non-null      float64
 24  EndUse_CH4 mobility                                          1 non-null      float64
 25  Announced Size                                               530 non-null    object
 26  Capacity_MWel                                                503 non-null    float64
 27  Capacity_NmÂ³ Hâ‚‚/h                                            526 non-null    float64
 28  Capacity_kt H2/y                                             525 non-null    float64
 29  Capacity_t COâ‚‚ captured/y                                    8 non-null      float64
 30  IEA zero-carbon estimated normalized capacity
[NmÂ³ Hâ‚‚/hour]  574 non-null    float64
 31  References                                                   545 non-null    object
 32  LOWE_CF                                                      575 non-null    float64
dtypes: datetime64[ns](2), float64(20), int64(1), object(10)
memory usage: 152.7+ KB
None

In [40]:
print("\nData Description:")
mobility.describe(include='all')

Data Description:

,Ref,Project name,Country,Date online,Decomission date,Status,Technology,Technology_details,Technology_electricity,Technology_electricity_details,...,EndUse_CH4 grid inj.,EndUse_CH4 mobility,Announced Size,Capacity_MWel,Capacity_NmÂ³ Hâ‚‚/h,Capacity_kt H2/y,Capacity_t COâ‚‚ captured/y,IEA zero-carbon estimated normalized capacity\n[NmÂ³ Hâ‚‚/hour],References,LOWE_CF
count,575.000000,575,575,484,24,574,575,332,543,329,...,2.0,1.0,530,503.000000,5.260000e+02,525.000000,8.000000e+00,5.740000e+02,545,575.000000
unique,NaN,566,49,NaN,NaN,7,9,18,6,6,...,NaN,NaN,301,NaN,NaN,NaN,NaN,NaN,437,NaN
top,NaN,Hydrogen Eagle (various hubs),FRA,NaN,NaN,Feasibility study,Other Electrolysis,Unknown PtX,Dedicated renewable,Others/Various,...,NaN,NaN,2MW,NaN,NaN,NaN,NaN,NaN,Data from Indian Industry Association,NaN
freq,NaN,4,73,NaN,NaN,191,299,293,299,86,...,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,12,NaN
mean,1312.295652,NaN,NaN,2022-08-06 04:36:41.652892672,2015-08-02 06:00:00,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,163.007124,5.044154e+04,39.560980,3.598440e+06,4.142584e+04,NaN,0.531200
min,3.000000,NaN,NaN,2001-01-01 00:00:00,2005-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,0.000000,0.000000e+00,0.000000,1.752000e+04,0.000000e+00,NaN,0.300000
25%,719.500000,NaN,NaN,2021-01-01 00:00:00,2013-10-01 18:00:00,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,1.000000,2.173913e+02,0.169487,6.025000e+05,1.061767e+02,NaN,0.500000
50%,1266.000000,NaN,NaN,2024-01-01 00:00:00,2016-07-02 00:00:00,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,5.000000,1.111111e+03,0.866267,1.305000e+06,7.523096e+02,NaN,0.570000
75%,1922.500000,NaN,NaN,2026-01-01 00:00:00,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,50.000000,1.267538e+04,10.395200,4.072500e+06,9.782609e+03,NaN,0.570000
max,2549.000000,NaN,NaN,2040-01-01 00:00:00,2023-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,15315.722641,3.890730e+06,3033.369000,1.500000e+07,3.403494e+06,NaN,0.900000
std,731.591587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,835.859443,2.638839e+05,205.925460,5.183122e+06,2.079800e+05,NaN,0.137974

In [42]:
mobility.isnull().sum()

Ref                                                               0
Project name                                                      0
Country                                                           0
Date online                                                      91
Decomission date                                                551
Status                                                            1
Technology                                                        0
Technology_details                                              243
Technology_electricity                                           32
Technology_electricity_details                                  246
Product                                                           1
EndUse_Refining                                                 549
EndUse_Ammonia                                                  546
EndUse_Methanol                                                 563
EndUse_Iron&Steel                                               562
EndUse_Other Ind                                                427
EndUse_Mobility                                                   0
EndUse_Power                                                    484
EndUse_Grid inj.                                                509
EndUse_CHP                                                      558
EndUse_Domestic heat                                            560
EndUse_Biofuels                                                 572
EndUse_Synfuels                                                 556
EndUse_CH4 grid inj.                                            573
EndUse_CH4 mobility                                             574
Announced Size                                                   45
Capacity_MWel                                                    72
Capacity_NmÂ³ Hâ‚‚/h                                                49
Capacity_kt H2/y                                                 50
Capacity_t COâ‚‚ captured/y                                       567
IEA zero-carbon estimated normalized capacity\n[NmÂ³ Hâ‚‚/hour]      1
References                                                       30
LOWE_CF                                                           0
dtype: int64

In [43]:
# Unique values in each column
print("\nUnique Values:")
for column in mobility.columns:
    print(f"{column}: {mobility[column].nunique()} unique values")

Unique Values:
Ref: 575 unique values
Project name: 566 unique values
Country: 49 unique values
Date online: 31 unique values
Decomission date: 14 unique values
Status: 7 unique values
Technology: 9 unique values
Technology_details: 18 unique values
Technology_electricity: 6 unique values
Technology_electricity_details: 6 unique values
Product: 6 unique values
EndUse_Refining: 1 unique values
EndUse_Ammonia: 1 unique values
EndUse_Methanol: 1 unique values
EndUse_Iron&Steel: 1 unique values
EndUse_Other Ind: 1 unique values
EndUse_Mobility: 1 unique values
EndUse_Power: 1 unique values
EndUse_Grid inj.: 1 unique values
EndUse_CHP: 1 unique values
EndUse_Domestic heat: 1 unique values
EndUse_Biofuels: 1 unique values
EndUse_Synfuels: 1 unique values
EndUse_CH4 grid inj.: 1 unique values
EndUse_CH4 mobility: 1 unique values
Announced Size: 301 unique values
Capacity_MWel: 205 unique values
Capacity_NmÂ³ Hâ‚‚/h: 277 unique values
Capacity_kt H2/y: 272 unique values
Capacity_t COâ‚‚ captured/y: 8 unique values
IEA zero-carbon estimated normalized capacity
[NmÂ³ Hâ‚‚/hour]: 276 unique values
References: 437 unique values
LOWE_CF: 8 unique values

In [45]:
# Value counts for categorical columns
print("\nValue Counts for Categorical Columns:")
categorical_columns = mobility.select_dtypes(include=['object']).columns
for column in categorical_columns:
    print(f"\n{column} value counts:")
    print(mobility[column].value_counts())

Value Counts for Categorical Columns:

Project name value counts:
Project name
Hydrogen Eagle (various hubs)                  4
Gwalpahari Solar-Hydrogen demonstration        2
Costa Rica Transportation Ecosystem Project    2
Semakau island microgrid Engie (SPORE)         2
H2One - SP Group                               2
                                              ..
Shell China - Zhangjiakou, phase 1             1
HySynergy, phase 2                             1
Frontier Energy, H2@Scale - electrolysis       1
Armor HydrogÃ¨ne                                1
EWE hydrogen plant North Sea coast             1
Name: count, Length: 566, dtype: int64

Country value counts:
Country
FRA              73
DEU              61
ESP              51
GBR              44
AUS              40
USA              33
DNK              20
NLD              18
CHN              18
CHL              17
IND              16
JPN              14
NOR              13
FIN              13
AUT              12
CAN              11
BEL              10
ITA              10
COL               9
SWE               8
POL               8
CHE               6
EGY               5
KOR               5
SGP               5
ARE               5
CZE               4
IRL               4
EST               4
ISL               4
PRT               4
NZL               4
ZAF               3
GRC               3
TUR               3
PRY               3
CRI               2
BGR               1
MYS               1
ARG               1
SVN               1
SVK               1
NAM               1
COK               1
ROM\nDEU\nAUT     1
ESP\nFRA          1
OMN               1
URY               1
ROU               1
Name: count, dtype: int64

Status value counts:
Status
Feasibility study    191
Operational          125
Concept              116
FID/Construction      89
DEMO                  48
Other/Unknown          3
Decommisioned          2
Name: count, dtype: int64

Technology value counts:
Technology
Other Electrolysis    299
PEM                   136
ALK                   103
Biomass                12
NG w CCUS              11
Other                   9
SOEC                    3
ALk                     1
Biomass w CCUS          1
Name: count, dtype: int64

Technology_details value counts:
Technology_details
Unknown PtX                             293
Methane pyrolysis                         6
ATR+CCUS                                  6
Waste gasification                        6
AEM                                       4
Unknown technology                        3
Biogas reforming                          2
ALK+PEM                                   2
Electrolysis + Biomass/Biomethane         1
Biomethanol steam reforming               1
Unknown Technology                        1
Waste gasification CCUS                   1
PEM & SOEC                                1
Various                                   1
Biomass plasma-enhanced gasification      1
PEM+ALK+SOEC                              1
SMR+CCUS                                  1
Not defined                               1
Name: count, dtype: int64

Technology_electricity value counts:
Technology_electricity
Dedicated renewable    299
Other/Unknown          102
Grid                    84
Other/unknown           46
Grid+Renewables         10
Nuclear                  2
Name: count, dtype: int64

Technology_electricity_details value counts:
Technology_electricity_details
Others/Various    86
Unknown           81
Solar PV          79
Onshore wind      44
Offshore wind     25
Hydropower        14
Name: count, dtype: int64

Product value counts:
Product
H2          535
Various      17
Ammonia      11
MeOH          5
CH4           3
Synfuels      3
Name: count, dtype: int64

Announced Size value counts:
Announced Size
2MW                 20
10MW                16
1MW                 14
2.5MW               13
20MW                13
                    ..
0.75MW               1
0.4MW                1
24MW                 1
0.25-0.3 kt H2/y     1
320MW                1
Name: count, Length: 301, dtype: int64

References value counts:
References
Data from Indian Industry Association           12
Colombian Hydrogen Association                   8
[951]                                            8
[1992]                                           6
Data from EDF                                    6
                                                ..
[261] [262] [264] [321][358][632][786] [809]     1
[103] [130]                                      1
[529][1226]                                      1
[499][1154] [1604] [1662]                        1
[2153]                                           1
Name: count, Length: 437, dtype: int64

In [9]:
mobility.to_csv('data/Mobility_filtered.csv',index=False)